*.css linguist-detectable=false
*.java linguist-detectable=false
*.python linguist-detectable=true
*.shell linguist-detectable=true
*.R linguist-detectable=true  
*.js linguist-detectable=false
*.html linguist-detectable=false
*.ipynb linguist-detectable=true  
*.xml linguist-detectable=false 
